<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>The NGO Monitor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bikash.css">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style1">
						<a href="/" class="logo"><strong>NGO</strong> <span>Monitor</span></a>
						<nav>
							<form action="/search/ngo" method='post'>
								<input type="text" name="search" placeholder="Search NGOs"  style="border:2px solid white;color:white; ">
							</form>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/project/gov?pageno=1">Government Projects</a></li>
						</ul>
						<ul class="actions stacked">
								<%if(!loggedIn){%>
									<li><a href="/employee/signup" class="button primary fit">Signup as Government Representative</a></li>
									<li><a href="/signup" class="button fit">Signup as NGO</a></li>
									<li><a href="/login/user" class="button primary fit">Login as Government Representative</a></li>
									<li><a href="/login/ngo" class="button fit">Login as NGO</a></li>
								<%}else{%>
									<li><a href="/logout" class="button fit">Logout</a></li>
								<%}%>
						</ul>
					</nav>