<% include ./partials/top.ejs %>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>This is the NGO Monitor</h1>
							</header>
							<div class="content">
								<p>A portal for streamlining the never-ending <br> 
								official works of various NGO's of the country.</p>
								<!-- <ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul> -->
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/ngos/health?pageno=1" class="link">Health</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/ngos/education?pageno=1" class="link">Education</a></h3>
										<p>feugiat amet tempus</p>
									</header>
								</article>
							</section>

						<!-- Two -->

					</div>

				<!-- Contact -->
<% include ./partials/footer.ejs %>