<!DOCTYPE html>
<html>
<head>
	<title>register ngo</title>
</head>
<body>
	<h1>Sign Up</h1>
	<form action="/ngos/add" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="email">
		<input type="text" name="type" placeholder="type">
		<input type="text" name="description" placeholder="description">
		<button>Submit</button>
	</form>
</body>
</html>