.timelineVisual{
	display: inline-block;
	width: 5vw;
	min-height:10px;
}
.timelineVisual img{
	height: 20vw;
	float: left;
}
.timelineContent{
	display: inline-block;
	width: 80vw;
	padding-top: 17.5vw;
}
.timelineContent div{
	border-top: 2px dashed white;
	height: 20vw;
	padding-left: 10px;
	padding-top: 5px;
}
.grid{
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
}
.grid div:nth-child(1){
	flex-basis: 20%;
	margin-left: 50px;
	margin-right: 100px;
}
.grid div:nth-child(2){
	flex-basis: 80%;
	flex-grow: 1.2;
}
.grid h1{
	text-align: center;
}
.grid button{
	font-size: 0.6rem;
	margin-bottom: 15px;
	text-decoration: none;
}

.row button{
	font-size: 0.6rem;
	margin-bottom: 15px;
	text-decoration: none;
}

.buttons{
	/*background: #222741;*/
	height:90vh;
	border-right: 1px solid #cccccc;
}
.reqList{
	height: 90vh;
	overflow-y: scroll;
}
.reqInList{
	border-top: 1px solid #dddddd;
	height: 50px;
	overflow-y: hidden; 
}

.reqInList :hover{
	color: #87ceeb;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reqList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.reqList {
  -ms-overflow-style: none;
}
.projectList :hover{
	background-color: #479b98;
}