.timelineVisual{
	display: inline-block;
	width: 5vw;
	min-height:10px;
}
.timelineVisual img{
	height: 20vw;
	float: left;
}
.timelineContent{
	display: inline-block;
	width: 90vw;
	padding-top: 17.5vw;
}
.timelineContent div{
	border-top: 2px dashed white;
	height: 20vw;
	padding-left: 10px;
	padding-top: 5px;
}