<% include ../partials/top %>

<section id="one">
	<div class="inner">
		<header class="major">
			<h2>New Government Project</h2>
		</header>
		<form method="post" action="#" enctype="multipart/form-data">
			<div class="row gtr-uniform">
				<div class="col-6 col-12-xsmall">
					<input type="text" name="Title" id="demo-name" value="" placeholder="Title" />
				</div>
				<div class="col-12">
					<textarea name="Description" id="demo-message" placeholder="Enter Description of the project" rows="6"></textarea>
				</div>

				<div>
				<h3>Upload an Image <input type="file" name="myFile"></h3>	
				</div>


				<!-- Break -->
				<div class="col-12">
					<ul class="actions">
						<li><input type="submit" value="Create" class="primary" /></li>
						<!-- <li><input type="reset" value="Reset" /></li> -->
					</ul>
				</div>
			</div>
		</form>
	</div>
</section>

<% include ../partials/footer %>