<% include ../partials/top %>

<div id="main" class="alt">

	<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1><%=project.title%></h1>
				</header>
				<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
				<p><%=project.description%></p>
			</div>
		</section>
		<section>
			<header class="major">
				<h2>Project Stages</h2>
			</header>
			<div class="timelineVisual">
				<%logs.forEach(function(log){%>
					<img src="/images/timeline.svg">
				<%});%>
				<!-- <img src="images/timeline.svg"> -->
			</div>
			<div class="timelineContent">
				<%logs.forEach(function(log){%>
					<div><%=log.stage%> on <%= log.date %></div>
				<%});%>
				<!-- <div class="stage">Created on 1/26/2020</div> -->
				<!-- <div class="stage">Created on 1/26/2020</div> -->
			</div>
		</section>
</div>

<% include ../partials/footer %>