<% include ../partials/top %>

<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="style1">
		<div class="inner">
			<span class="image">
				<img src="images/pic07.jpg" alt="" />
			</span>
			<header class="major">
				<h1>Search Results</h1>
			</header>
		</div>
	</section>

<!-- Main -->
	<div id="main">

		<!-- Two -->
		
		<div class="inner">
			
			<div class="table-wrapper">
				<table>
					<tbody>
						<%ngos.forEach(function(ngo){%>
							<tr onclick="location.href='/project?ngoId=<%=ngo._id%>'" class="projectList">
								
									<!-- <header class="major"> -->
										<td><h3><%= ngo.username %></h3></td>
									<!-- </header> -->
							</tr>
						<% });%>
					</tbody>
				</table>
			</div>
			
		</div>

		<!-- Three -->

	</div>

<% include ../partials/footer %>